html {
  font-family: "Pacifico", cursive;
}

body {
  position: relative;
}

.bg-image {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  z-index: -1;
  object-fit: cover;
  object-position: right;
}

.hh {
  /* -webkit-text-stroke: 2px #71004f; */
  font-weight: 900;
  font-size: 50px;
  color: #7e2038;
}
.pp {
  font-size: 28px;
  font-style: oblique;
  font-weight: 800;
  color: #8d243f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 700px;
  aspect-ratio: 1 / 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}

.image {
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 280px;
  object-fit: cover;
  border-radius: 30px;
  padding: 20px;
}

.text {
  height: 220px;
}

.buttons button {
  background-color: #ff4d79;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 26px;
  cursor: pointer;
  position: relative;
}

.buttons .yes:hover {
  background-color: #7c1f37;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.hidden-message {
  display: none;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .container {
    padding: 30px;
  }

  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 50px;
  }

  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 100px;
  }

  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}
